body{
    background-color: #000000;
}
div{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: #4D4DFF;
    display: flex;  
    justify-content: center;
    margin: 340px;
    margin-top: 30vh;
    flex-direction: column;
        
} 
div button{
    background-color: #4D4DFF;
    color: black;
    border: none;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    border-radius: 70%;
} 
footer{
    background-color: #ed145b;
    height:30px;
}